/* Box sizing rules */
/* Remove default margin */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reset Links Colours */
a {
    color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Variables */
:root {
    /* Colours */
    --purple: hsl(263, 69%, 51%);
    --yellow: hsl(57, 100%, 50%);
    --dark-yellow: hsl(57, 100%, 40%);
    --gray: hsl(0, 0%, 87%);
    --white: white;
    --black: black;

    /* Logo Font-Size */
    --logo-minimum-fs: 1.4rem;
    --logo-preferred-fs: .5rem + 8vw;
    --logo-maximum-fs: 10rem;
    
    /* Profission Font-Size */
    --profission-minimum-fs: .5rem;
    --profission-preferred-fs: .5rem + 4vw;
    --profission-maximum-fs: 2.9rem;
    
    /* Text Font-Size */
    --text-minimum-fs: .5rem;
    --text-preferred-fs: .4rem + 3vw;
    --text-maximum-fs: 1.2rem;
    
    /* Skills Font-Size */
    --skills-minimum-fs: .5rem;
    --skills-preferred-fs: .2rem + 3vw;
    --skills-maximum-fs: 1.1rem;
    
    /* Socials Icons Height */
    --socials-minimum-fs: 1rem;
    --socials-preferred-fs: 1rem + 3vw;
    --socials-maximum-fs: 3rem;
    
    /* Font */
    font-family: 'Heebo', sans-serif;
    color: var(--white);
    font-weight: 400;
}

/* Utility classes */
.container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:6vh;
    position: relative;
}

.page {
    min-height: 33.33vh;
    padding: 8vh 0;
}

.title {
    font-size: 2.2rem;
}

.go-top {
    display: none;
    position: fixed;
    bottom: 8vh;
    right: 8vw;
    background-color: #6C2BD9;
    padding: 8px 16px;
    border-radius: 16px;
    text-decoration: none;
    text-align: center;
    opacity: .8;
    filter: drop-shadow(0px 4px #5E26BF);
    cursor: pointer;
}

.display-to-top.go-top {
    display: block;
}

/* Pages Background Colours */
#about {
    background-color: #6C2BD9;
}

#work {
    background-color: #5E26BF;
}

#contact {
    background-color: #4B1F99;
}

/* XS Mobile Phones */
/* About Me Page */
.logo {
    width: 50%;
    font-size: clamp(var(--logo-minimum-fs), var(--logo-preferred-fs), var(--logo-maximum-fs));
    letter-spacing: .1rem;
    line-height: clamp(var(--logo-minimum-fs), .5rem + 6vw, 8rem);
    font-weight: bold;
}

.f-name {
    margin-left: -0.3rem;
}

.profission {
    color: var(--yellow);
    font-size: clamp(var(--profission-minimum-fs), var(--profission-preferred-fs), var(--profission-maximum-fs));
    font-weight: 300;
}

.journey {
    font-size: clamp(var(--text-minimum-fs), var(--text-preferred-fs), var(--text-maximum-fs));
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    direction: rtl;
    padding-right: 10px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 40px;
    font-weight: 300;
    color: var(--gray);
    font-size: clamp(var(--skills-minimum-fs), var(--skills-preferred-fs), var(--skills-maximum-fs));
}
.skills li:last-of-type {
    list-style-type: none;
}

.contact-me, .see-my-work {
    font-size: clamp(.4rem, .3rem + 3vw, var(--text-maximum-fs));
}

.contact-me {
    background-color: var(--yellow);
    color: var(--black);
    padding: 1rem 2rem;
    border-radius: 25px;
    cursor: pointer;
}

.contact-me:hover, .contact-me:focus{
    background-color: var(--dark-yellow);
}

.contact-me:active {
    background-color: var(--yellow);
}

.see-my-work {
    color: var(--gray);
    margin-left: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.see-my-work:hover, .see-my-work:focus {
    color: var(--white);
}

.see-my-work:active {
    color: var(--gray);
}

#about-info {
    margin-bottom: 8vh;
}

/* Work Page */
.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects li {
    flex: 1 1 8.8rem;
}

.project {
    font-size: clamp(var(--text-minimum-fs), var(--text-preferred-fs), var(--text-maximum-fs));
}

.hint {
    font-weight: 300;
    color: var(--gray);
    font-size: clamp(var(--skills-minimum-fs), var(--skills-preferred-fs), var(--skills-maximum-fs));
}
/*.Contact Page */
/*.Contact Form */
.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.form {
    width: 100%;
    max-width: 480px;
    height: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.form label {
    display: block;
    margin: 2px 0px;
}

.form input, .form textarea {
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
}

.form input {
    height: 48px;
    border: none;
}

.form textarea {
    height: 124px;
    resize: none;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.form textarea::-webkit-scrollbar {
    display: none;
}

.submit {
    height: 56px;
    width: 136px;
    background-color: var(--yellow);
    border: none;
}

.submit:hover, .submit:focus {
    background-color: var(--dark-yellow);
}

.submit:active {
    background-color: var(--yellow);
}

/* Socials */
.socials {
    max-width: 480px;
    flex-grow: 0;
    flex-shrink: 0;
}

.social {
    height: 64px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.icon {
    height: clamp(var(--socials-minimum-fs), var(--socials-preferred-fs), var(--socials-maximum-fs));
}

.icon path {
    fill: currentColor;
}

/* Large Phone Landscape Version*/
@media screen and (min-width: 800px) {
    .contact {
        flex-wrap: nowrap;
    }

    .socials {
        margin-top: 16px;
        margin-left: 24px;
    }

    .social-text {
        display: none;
    }
}

/* Large Phone Landscape Version*/
@media screen and (min-width: 925px) {
    .contact {
        padding-bottom: 100px;
    }
}

/* Large Phone Version*/
@media screen and (min-width: 1020px) {
    .f-name {
        margin-left: -0.5rem;
    }

    .navigation {
        position: absolute;
        top: 16px;
        right: -4px;
    }

    .social-text {
        display: inline-block;
    }
}

/* Desktop Version*/
@media screen and (min-width: 1124px) {
    /* Projects &.Contacts Page */
    .line-break {
        display: block;
        border: 3px solid var(--white);
        border-radius: 3px;
    }
    .socials {
        margin-left: 0px;
    }
}