.App {
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* ========== Mobile Styling ========== */

/* ========== Header ========== */
.mobile-navigations {
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #091347;
  width: 100%;
  height: 75px;
  box-shadow: 0px 2px 15px 2px black;
  position: relative;
  z-index: 2;
}

.header .h-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ========== Logo ========== */
.logo-container {
  padding-bottom: 6px;
}

.logo {
  display: inline;
  color: white;
  font-size: 1.25rem;
  font-family: sans-serif;
  font-weight: bold;
  border-bottom: #c9bc26 6px solid;
}

/* ========== Hamburger ========== */
.menu-btn {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform .5s ease-in-out, background .5s ease-in-out;
}
.menu-btn__burger {
  width: 35px;
  height: 4px;
  background: currentcolor;
  transition: transform .5s ease-in-out, background .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background: currentcolor;
  transition: transform .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* ========== Navigation ========== */
.mobile-nav ul{
  display: block;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px 0px 30px 0px;
  background-color: #091347;
  color: white;
  font-size: 2rem;
  position: absolute;
  z-index: 1;
  clip-path: inset(0% 0% 100% 0%);
  transition: clip-path .5s ease-in-out;
}

.mobile-nav ul li {
  margin: 0px;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 2px white solid;
}

.mobile-nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding-left: 10%;
}

.mobile-nav ul li:hover {
  background-color: #241874;
}

.mobile-nav.open-nav ul{
  clip-path: inset(0% 0% 0% 0%);
}

/* ========== Body ========== */
/* ========== Sections ========== */
section {
  min-height: 100vh;
  padding: 40px 0px;
}

section:nth-child(odd) {
  background-color: aquamarine;
}

/* ========== Contact Section ========== */
#Contact {
  background-color: #091347;
  color: white;
}
/* ========== Form ========== */
#contact-form {
  margin-bottom: 14px;
}
#contact-form input, textarea {
  display: block;
  width: 100%;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: #3bacc9 solid 4px;
  transition: border-bottom .1s ease, outline .1s ease, padding .1s ease ;
  padding:10px 0px;
  margin-bottom: 20px;
  font: 1.5em sans-serif;
}

#contact-form input:focus , textarea:focus{
  outline: #3bacc9 solid 2px;
  border-bottom: none;
  padding:10px 10px;
}

textarea {
  resize: none;
  min-height: 140px;
  margin-bottom: 40px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#message-input::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#message-input {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#submit {
  width: 100%;
  height: 60px;
  background-color: #30c994;
  color: white;
  font-family: sans-serif;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

#arrow-icon {
  height: 100%;
  position: relative;
  top: 4px;
  margin: 0px 12px;
}

/* ========== Form ========== */
.socials-container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 14px;
}

/* ========== Desktop ========== */
@media (min-width: 1025px) {
  .desktop, .App {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 800px;
  }

  .container {
    width: 90%;
    height: 90%;
    margin: auto;
  }

  /* ========== Contact Section ========== */
  .desktop-contact {
    min-width: 33%;
    height: 100%;
    box-shadow: 2px 0px 15px 2px black;
    position: relative;
    z-index: 2;
  }

  .gradient {
    height: inherit;

    background: rgb(9,19,73);
    background: -moz-linear-gradient(45deg, rgba(9,19,73,1) 0%, rgba(7,8,11,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(9,19,73,1) 0%, rgba(7,8,11,1) 100%);
    background: linear-gradient(45deg, rgba(9,19,73,1) 0%, rgba(7,8,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#091349",endColorstr="#07080b",GradientType=1);
  }

  .rose-image {
    height: inherit;
    background-image: url('./images/Rose.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
  }

  .desktop-contact-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.5rem;
  }

  .red {
    background-color: red;
  }

  /* ========== Tabs ========== */
  .slider {
    height: 24px;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    overflow-x: hidden;
  }

  .slider-item {
    flex: 0 0 20%;
    font-size: 1em;
    transition: font-size 1.05s ease-in-out;
  }

  .scaleFont {
    font-size: 1.25em;
    font-weight: bold;
  }

  @keyframes slideLeft {
    100%{
        transform: translateX(var(--endAnimation));
    }
  }

}

/* ========== Very Large Screens ========== */
/* @media (min-width: 1536px) {
  .desktop-contact {
    min-width: 33%;
  }
}  */

/* @media (min-width: 640px) {
  
}

@media (min-width: 768px) {

}

@media (min-width: 1280px) {

}
*/

